@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}
#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 0% center;
  user-select: none;
}
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0%, -50%);
}
#me {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: left; */
  width: 47vmin;
  gap: 10px;
  margin: 40px;
  margin-left: 100px;
  margin-right: 200px;
}
#me > .line {
  margin: 0;
  /* color: blue; */
  font-size: 3rem;
  font-family: "PT Mono", monospace;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  /* margin: 0; */
}
#me > .line > .word {
  margin: 0;
  color: white;
  transition: color 0.2s;
  opacity: 1;
  transition: opacity 0.2s;
}

/* #me > .line:has(.fancy:hover) .word:not(.fancy) {
  opacity: 0.2;
} */
/* has tag does not work in the FIREFOX */
