:root {
  --pink: hsl(338, 70%, 55%);
  --teal: hsl(183, 70%, 62%);
  --white: hsl(334, 7%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: hsl(224, 32%, 12%);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );
  background-blend-mode: multiply;
  color: white;
  min-block-size: 100dvh;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow: hidden;
  /* background-color: #fff; */
}

pre {
  --selector: var(--pink);
  --property: var(--teal);
  --punctuation: var(--white);

  font-size: 2.1rem;
  font-weight: bold;
  background: hsl(222, 45%, 7%);
  padding: 2rem;
  border-radius: 1rem;

  position: relative;
  transform-style: preserve-3d;

  /* *Making it 3D* */
  transform: perspective(2000px) rotateY(var(--rotateY)) rotateX(var(--rotateX));
}
.selector {
  color: var(--selector);
}
.property {
  color: var(--property);
}
.punctuation {
  color: var(--punctuation);
}

/* Adjacent Selector; if there is a Punctaution following a property than that must follow the below specified rules */
.property + .punctuation {
  color: var(--property);
}

pre > * {
  text-shadow: 0 0 0.3em currentColor;
}

pre::before,
pre::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

pre::before {
  inset: 0.75rem;
  background: black;
  transform: translateZ(-39px);
  filter: blur(15px);
  opacity: 0.3;
}

/* After and Befor are 2 seprate blocks, over the actuall box */

pre::after {
  inset: -1rem;
  background: linear-gradient(-45deg, red, blue);
  transform: translateZ(-40px);
}
